<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
    <h2 th:text="${titulo}"></h2>

    <form th:action="@{/form}" method="post" th:object="${cliente}">
        <div>
            <label for="identificacion">Identificacion</label>
            <input type="text" id="identificacion" th:field="*{identificacion}"/>
            <small th:if="${#fields.hasErrors('identificacion')}" th:errors="*{identificacion}"></small>
        </div>
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" th:field="*{nombre}"/>
            <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
        </div>
        <div>
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" th:field="*{apellido}"/>
            <small th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" th:field="*{email}"/>
            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
        </div>
        <div>
            <label for="edad">Edad</label>
            <input type="number" id="edad" th:field="*{edad}"/>
            <small th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small>
        </div>

        <div>
            <input type="submit" value="Enviar"/>
        </div>
    </form>
</body>
</html>